* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}
body {
  background-color: gray;
  background-image: url(we.jpg);
  /* background-repeat: no-repeat; */
  background-repeat: repeat-x;
  /* background-size: cover; */
}
.container {
  height: 100%;
  width: 400px;
  background-color: rgba(0, 247, 214, 0.336);
  margin: 0 auto;
  padding: 10px 20px;
}
.container p {
  text-align: center;
}
.container input {
  margin-top: 10px;
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: none;
}
.container button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: blue;
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}
.container h1 {
  text-align: center;
}
.container img {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  margin-top: 30px;
  margin-bottom: 20px;
  /* display: none; */
}
.container p {
  background-color: rgba(72, 255, 0, 0.726);
  border-radius: 10px;
  font-size: 25px;
  padding-bottom: 20px;
}

.container p img {
  width: 20px;
  height: 20px;
}
